html{
    height: 100%;
    
}

body{
    background-image: linear-gradient(to right, #B5FFFC, #FFDEE9);
    background-size: cover;
    
    color: rgb(67, 6, 95);
}
.logo{
    max-height: 20vh;

}
nav{
    font-family: 'Play', sans-serif;
}
.indigo{
    color: #8b46d4;
}
.pink{
    color: #fb4b8b;
}
a{
    text-decoration: none !important;
}